
div#visuel{

margin-bottom:36px;
}
div#participer{
background:transparent url('../images/back-degrade-vert.png') no-repeat top  left;
/*border:solid 1px #c9c7c7;
*/width:381px;
margin-bottom:75px;
float:left;
color:#207f00;
}

div#participer p{
line-height:25px;
margin-left:55px;
margin-top:15px;
display:block;

color:#207f00;
}

div#participer span{
font-size:18px;
}

a#participe{
display:block;
float:left;
background:transparent url('../images/participez.png') no-repeat top  left;
width:28px;
height:133px;
margin:8px 0 0 8px;

}

a#play{
float:right;
background:transparent url('../images/fond-degrade-vert.png') repeat-x top  left;
display:block;width:318px;
margin:7px 10px;
text-align:center;
color:#fff;
font-size:23px;
padding-top:10px;
padding-bottom:15px;
text-decoration:none;

/*
font-weight:bold;*/
}

div#bloc-lots
{
	display:block;
	width:284px;
	float:right;
	margin-right:50px;
	text-align:justify;
	padding:0px 10px 10px 10px;
       color:#888b90;
       font-size:11px;

       
}
div#bloc-lots a, 
div#bloc-lots a:link, 
div#bloc-lots a:visited, 
div#bloc-lots a:hover, 
div#bloc-lots a:active
{
	       color:#888b90;
         
}

div#bloc-lots .vert
{
	font-size:12px;
	color:#3e911f;
       font-weight:bold;
}

div#bloc-lots #rouge
{
	font-size:24px;
	color:red
}