div#inscription
{
     border:1px solid #ff0000;
     display:block;
     height:100%;
}

div#Presentation{
float:left;
width:227px;
color:#ff4000;
margin:21px 0 0 30px;
}

div #register
{
float:right;
margin-top:12px;
margin-bottom:12px;
width:400px;
text-align:right;
margin-right:50px;

}

ul, p{
list-style-type:none;
color:#898b91;
}

ul li{

margin-bottom:5px;

}

input.text{
width:260px;
height:13px;
}

div#accept
{
height:55px;
background-color:#ff4000;
width:100%;
clear:both;
display:block;
position:relative;

}

#submitAjouter
{
 position:absolute;
top:-8px;
right:-10px;
}

span#news
{
display:block;
padding:5px 0px 15px 18px;
color:#fff;
float:left;
}

.miniselecteur{
margin-right:159px;
}
.miniselecteur2{
margin-right:128px;
}

span#description{
display:block;
float:right;
width:270px;
}
.captcha
{
 margin-top:20px;
}

input#submitAjouter{
background:transparent url('../images/back-degrade-rouge.png') repeat-x top  left;
display:block;width:244px;
border:0;
float:right;
margin-right:50px;
text-align:center;
color:#fff;
font-size:23px;
padding-top:10px;
padding-bottom:15px;
text-decoration:none;
bottom:0px;
margin-top:5px;
}

#autreplan{
color:#898b91;
background:transparent url('../images/autreplan.png') no-repeat bottom  left;
height:150px;
float:left;
position:relative;

width:390px;
margin-top:25px;
}
a#decouvrir{
position:absolute;
background:transparent url('../images/fond-degrade-vert.png') repeat-x top  left;
display:block;width:244px;

text-align:center;
color:#fff;
font-size:23px;
padding-top:10px;
padding-bottom:15px;
text-decoration:none;
bottom:0px;
left:63px;
}
div#parrain{
line-height:18px;
margin-top:25px;
color:#898b91;
font-size:10px;
float:right;
margin-right:70px;
width:285px;
}
div#parrain span{
color:#207f00;
font-size:12px;
}

div#parrain a{
color:#207f00;

}

div#Commentaire{
clear:both;
color:#9ecd00;
font-size:10px;
width:606px;
padding-bottom:20px;
margin-top:30px;
}
div#Commentaire a{
color:#9ecd00;

}