#jeuxconcours
{
  text-align:justify;
}

#jeuxconcours #reglement h1
{
font-size:18px;
font-weight:bold;
color:#ff4001;

margin-top:30px;
margin-bottom:50px;
margin-left:200px

}

#jeuxconcours #reglement h2{
font-size:12px;
font-weight:bold;
margin-top:20px;
margin-bottom:5px;
color:#9ecd00;
}



.sejourn{height:74px;/*float:left;*/}
.titresejour{font-weight:bold;color:#000000;font-size:12px;display:block;}
.descriptifsejour{color:#5a5f60;font-size:10px;display:block;}


/* a gauche */

/* prochaines encheres*/
div#gauche{float:left;width:290px;}
div#proench{

border:#1eb0c9 1px solid;
margin-bottom:20px;
}
div#proench div#pro{color:#1eb0c9;}

div#sejourpro{height:84px;padding:10px 0 0 5px;clear:both;}
div.alterpro{background-color:#a1dee8;}



div#proench div#sejourpro div.sejpro {width:86px; height:78px;float:left;margin-right:10px;position: relative;}

div#proench div#sejourpro div.sejpro img {background-color:green;width:67px; height:67px;display:block;float:left;margin-right:10px;border:2px solid #1eb0c9;}


div#proench div#sejourpro div.sejpro div.sejour{background:transparent url('../imgs/picto-sej.png') no-repeat bottom right;position:absolute; bottom:0px; right:0px; height:48px;width:47px;}
div#proench div#sejourpro div.sejpro div.vol{background:transparent url('../imgs/picto-vol.png') no-repeat bottom right;position:absolute; bottom:0px; right:0px; height:48px;width:47px;}






/* liens */

div#gauche a{text-decoration :none;}

div#gauche a#encheresauto{text-indent:-5000px;display:block;width:292px;height:135px;background:transparent url('../imgs/img-enchere-auto.jpg') no-repeat top left;margin-bottom:14px;}
div#gauche a#inscrire{text-indent:-5000px;display:block;height:144px;width:292px;background:transparent url('../imgs/img-inscription.jpg') no-repeat top left;margin-bottom:14px;}
div#gauche a#comment{text-indent:-5000px;display:block;height:144px;width:292px;background:transparent url('../imgs/commentcamarche.jpg') no-repeat top left;margin-bottom:14px;}
div#gauche a#cgv{color:#1eb0c9;font-size:15px;margin-bottom:14px;}
div#gauche a#cgv span{text-decoration :underline;}


/* a droite*/

div#droit{float:right;width:581px;}

/* encheres en cours */

div#encench{
margin-bottom:20px;
border:#ff7200 1px solid;
background:transparent url('../imgs/img-central.jpg') no-repeat bottom left;
height:305px;
position:relative;
}
div#encench div#enc{color:#ff7200;}
 
 div#tpscours{position:absolute;top:40px; background-color:#ffffff;right:13px;width:259px;height:43px;}
 div#descours{font-size:20px;position:absolute;left:107px;top:93px;color:#a20315;font-weight:bold;}
 div#titrecours{color:#ffffff;position:absolute;font-size:30px; bottom:20px;right:26px;}
 
 
 
 /* encheres terminees*/

div#termench{

border:#a2ce32 1px solid;

}
div#termench div#term{color:#a2ce32;}

div#termench div#sejourterm{
/*height:143px;*/
padding:10px 10px 0 0 ;
clear:both;
}

div#termench div.alterter{
background-color:#e5ff9b;

}

div#termench div#sejourterm img.sejtermin {background:transparent url('../imgs/fond-img.png') no-repeat top left;width:100px; height:100px;padding:15px;display:block;float:left;}




div.haut{border-bottom:#c1c2c2 solid 1px; padding:5px 5px;float:right;width:420px;position:relative;}
div.prix{position:absolute; right:0px; top:0px;color:#ff5100;font-size:10px;}
div.prix span{font-weight:bold;font-size:12px;}


div.bas{
float:right;
width:425px;
margin:5px 0 12px 0;}
div.bas span.avis{
display:block;font-size:15px; color:#4bc0d4;font-weight:bold;margin-bottom:5px;
}
